{{> header}} {{!--{{> navigation}}--}}

<div class="wrapper">

    {{!--
    <header>
        <h1>{{site.title}}</h1>
        {{#if tag}}
        <p>Posts tagged: {{tag}}</p>
        {{else}} {{#if dateStr}}
        <p>Posts dated: {{dateStr}}</p>
        {{else}}
        <p>{{site.description}}</p>
        {{/if}} {{/if}}
    </header>--}}
    <div class='sidebar'>
        <div class='sidebar-inner'>
            <div class='blog-details'>
                <header>
                    <img src="/images/photo.jpg" width="75" alt="profile picture"> 
                    {{#each authors}}
                    <h1>
                        <a style="text-decoration:none;border-bottom:none;color:inherit;" href="/">{{name}}</a>
                    </h1>
                    {{/each}}
                    <p>
                        {{ site.description }}
                    </p>
                </header>
            </div>
            <div class='blog-options'>

                <footer>

                    <p class='copyright'>
                        &copy; All rights reserved.
                    </p>
                </footer>
            </div>
        </div>
    </div>
    <div class='content'>
        <div class='main'>
            <div class='main-inner'>
                {{> loop}}
            </div>
        </div>
    </div>
    {{!--
    <div class="row">
        <div class="main">
            {{> loop}}
        </div>
        <aside>
            {{> sidebar}}
        </aside>
    </div>--}}

</div>

{{> footer}}