{{> header}}

<div class="container">
    {{#post}}
    <div>
        <a class='gohome' href="/"> All Articles</a>
    </div>
    <div class='blog-single'>
        <div class='text'>
            <h1>{{title}}</h1>
            <div>{{{body}}}</div>
            {{#if date}}
            <div class="date-published">
                <em>Published <time dateTime={{date format="MMMM D, YYYY" }}>{{date format="MMMM Do YYYY"}}</time></em>
            </div>
            {{/if}}
        </div>
        <div class='footer'>
            <hr></hr>
            <p>
                {{site.description}}
                <a href="{{author.linkedin}}">
                    <br></br> <strong>{{author.name}}</strong> on LinkedIn</a>
            </p>
        </div>
    </div>

    {{!--
    <div class="row">
        <article>
            <h1>{{title}}</h1>
            <p class="post-meta">
                {{date format="MMMM Do YYYY"}} by <span>{{author.name}}</span> {{#if tags}} on {{{tags}}}{{/if}}
            </p>
            {{{body}}}
        </article>
        <aside>
            {{> sidebar}}
        </aside>
    </div>--}} {{/post}}

</div>
{{> footer}}