<div class='sidebar'>
    <div class='sidebar-inner'>
        <div class='blog-details'>
            <header>
                <img src="/images/photo.jpg" width="75" alt="profile picture"> 
                {{#each authors}}
                <h1>
                    <a style="text-decoration:none;border-bottom:none;color:inherit;" href="/">{{name}}</a>
                </h1>
                {{/each}}
                <p>
                    {{ site.description }}
                </p>

            </header>
        </div>
        <div class='blog-options'>
            {{> navigation}} {{#each authors}}
            <div class="blog-links">
                <ul>
                    {{#if linkedin}}
                    <li>
                        <a href={{linkedin}}>
                            <i class="fa fa-linkedin-square" />
                        </a>
                    </li>
                    {{/if}}
                    {{#if github}}
                    <li>
                        <a href={{github}}>
                            <i class="fa fa-github" />
                        </a>
                    </li>
                    {{/if}}
                </ul>
                <ul>
                    {{#if email}}
                    <li>
                        <a href={{email}}>
                            <i class="fa fa-envelope-o" />
                        </a>
                    </li>
                    {{/if}}
                </ul>
            </div>
            {{/each}}

            <footer>
                <p class='copyright'>&copy; All rights reserved.</p>
            </footer>
        </div>
    </div>
</div>
